name: Hunter Bot Action

on:
  schedule:
    - cron: '*/30 * * * *' # هر نیم ساعت خودکار شکار میکنه
  workflow_dispatch: # دکمه اجرای دستی

jobs:
  hunt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: pip install -r requirements.txt
      - name: Run Hunter
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          MY_CHANNEL: ${{ secrets.MY_CHANNEL }}
        run: python main.py
